
                .column{
                    display: inline-block;
                    width: 50%;
                    border: 2vh solid blue;
                }
                #left{
                    background-color: hotpink;
                }
                #right{
                    background-color: aquamarine;
                }
                nav{
                    display: block;
               
                }
                #mobileNav{
                    background-color: darkcyan;
                    display: none;
                }
               
                 #hamburger{
                     width: 25vw;}