/*Comment*/ 
body{
    margin=0;
    color: blue;
    font-size: 5vh;
}
h1{
    
color: red;
font-size: 1em;          
   }
#container{
    
    background-image: url("https://static.pexels.com/photos/32237/pexels-photo.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top;

}

.error{
    color: red;
    font-weight:bold;
    font-style: italic;
    text-decoration: underline;
}
p{
    
    font-family: "Libre Franklin", sans-serif;
    
}